* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: blanchedalmond;
  font-family: sans-serif;
}

img {
  display: block;
  margin: 0;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

header,
footer {
  background-color: darkorange;
  padding: 1em 0;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

img.logo {
  display: inline;
  width: 100px;
}

footer {
  font-weight: bold;
}

main {
  width: 90%;
  margin: 0 auto;
  flex-grow: 1;
}

.product-display {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr 1fr 4fr;
}

.product-display img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 5px solid transparent;
}

.product-display img:hover {
  border: 5px solid darkorange;
}

.product-display img:nth-child(2) {
  grid-column-start: 1;
}

.product-display img:nth-child(3) {
  grid-column-start: 3;
}
.product-display img:nth-child(4) {
  grid-column-start: 5;
}

/* results section */

section:nth-child(2) {
  padding-top: 2em;
}

.results-display {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

button {
  width: 150px;
  margin: 0 auto;
  grid-column-start: 1;
  grid-column-end: -1;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.25em 0.5em;
  background-color: darkorange;
  border-radius: 5px;
}

.chart-container {
  width: 100%;
  margin: 2em 0;
}

.bar-chart-container {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}
.pie-chart-container {
  grid-row: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

/* typography */

h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Original Surfer", cursive;
  margin-left: 0.5em;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 2rem auto;
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: center;
}

footer {
  font-weight: bold;
}

/* utility */

section.disable img {
  cursor: not-allowed;
}

section.disable img:hover {
  border: 5px solid transparent;
}
